<template>
  <q-page>
    <q-input
      v-model="name"
      type="text"
      label="Name"
    />

    <q-select
      v-model="selectedRaceModel"
      :options="racesName"
      @input="(value)=>fetchSelectedRace(value)"
      label="Standard"
      filled
    />
    <q-select
      v-model="selectedClassModel"
      :options="className"
      @input="(value)=>fetchSelectedClass(value)"
      label="Standard"
      filled
    />
    <q-btn
      color="primary"
      label="Create Player"
      @click="createPlayer()"
    />

    {{selectedClass}}
    {{selectedRace}}
  </q-page>
</template>

<script>
import VueSocketIO from 'vue-socket.io'
import Vue from 'vue'

Vue.use(new VueSocketIO({
  debug: true,
  connection: 'http://0.0.0.0:5000',
  vuex: {
    actionPrefix: 'SOCKET_',
    mutationPrefix: 'SOCKET_'
  }

}))
export default {
  name: 'PageIndex',

  data () {
    return {
      name: '',
      age: '',

      // Player data
      races: [],
      classes: [],

      selectedRaceModel: '',
      selectedRace: 'empty',

      selectedClassModel: '',
      selectedClass: 'empty',

      Players: []
    }
  },

  created () {
    this.fetchData()

    this.sockets.subscribe('add_player_ack', (data) => {
      this.Players = JSON.parse(data)
    })
  },

  computed: {
    racesName () {
      return this.races.map(race => { return race.index })
    },
    className () {
      return this.classes.map(pclass => { return pclass.index })
    }

  },

  methods: {
    fetchData () {
      this.$axios.get('https://www.dnd5eapi.co/api/races/').then(resposne => {
        this.races = resposne.data.results
      })
      this.$axios.get('https://www.dnd5eapi.co/api/classes/').then(resposne => {
        this.classes = resposne.data.results
      })
    },

    fetchSelectedRace (value) {
      const race = this.races.find(race => { return race.index === value })
      this.$axios.get(`https://www.dnd5eapi.co${race.url}`).then(response => {
        this.selectedRace = response.data
      })
    },
    fetchSelectedClass (value) {
      const pclass = this.classes.find(pclass => { return pclass.index === value })
      this.$axios.get(`https://www.dnd5eapi.co${pclass.url}`).then(response => {
        this.selectedClass = response.data
      })
    },
    createPlayer () {
      this.$socket.emit('add_player', { name: this.name, race: this.selectedRace, class: this.selectedClass })
    }
  }

}
</script>
